<html>
    <head>
        <title>Lakshay's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Lakshay's Blog</a></h1>
        </div>

        <div>
            <p>published: 10.02.2020, 11:20</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello Everyone.... How are you all .... ? Hope you all are good and doing well.</p>
        </div>

        <div>
            <p>published: 14.02.2020, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Stay tuned for further updates. Something interesting is coming up.... Cheers!!!</p>
        </div>
    </body>
</html>
